<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.sermonMapper">

    <!-- 회원아이디  -->
	<resultMap type="com.project.vo.UserVO" id="uservo">
		<result column="duplicateid" property="duplicateid"/>
	</resultMap>

	<!-- 검색전용 파라미터  -->
	<resultMap type="com.project.vo.SearchVO" id="sermonSearch">
		<result property="sermonSearchParam" column="sermonSubject" />
		<result property="sermonSearchParam" column="sermonTitle" />
		<result property="sermonSearchParam" column="sermonMain" />
		<result property="search_title_kind" column="sermonSubject" />
		<result property="search_title_kind" column="sermonTitle" />
		<result property="search_title_kind" column="sermonMain" />
		<result property="search_bible_kind" column="sermonBibleType" />
	</resultMap>

	<!-- 주일설교 리스트 출력 및 검색기능 -->
	<select id="sermonlist" resultType="com.project.vo.SermonVO" parameterType="com.project.vo.SearchVO">
		SELECT * FROM sermonboard
		WHERE sermonboardCnt IS NOT NULL
		<if test="search_title_kind == 'subject'">
			AND sermonSubject like CONCAT('%',
			#{sermonSearchParam},'%')
		</if>
		<if test="search_title_kind == 'title'">
			AND sermonTitle like CONCAT('%', #{sermonSearchParam} ,
			'%')
		</if>
		<if test="search_title_kind == 'main'">
			AND sermonMain like CONCAT('%', #{sermonSearchParam} ,'%')
		</if>
	</select>

	<!-- 주일설교 데이터 저장 -->
	<insert id="sermoninsert" parameterType="com.project.vo.SermonVO">
		INSERT INTO
		sermonboard(sermonSubject,sermonTitle,sermonMain,sermonPage,sermonPoint,sermonFile,sermonDate,sermonBibleType)
		VALUES(#{sermonSubject},#{sermonTitle},#{sermonMain},#{sermonPage},#{sermonPoint},#{sermonFile},#{sermonDate},#{sermonBibleType})
	</insert>

	<!-- 주일설교 데이터 수정 -->
	<update id="sermonupdate" parameterType="com.project.vo.SermonVO">
		UPDATE sermonboard SET
		sermonSubject = #{sermonSubject},
		sermonTitle = #{sermonTitle},
		sermonMain = #{sermonMain},
		sermonPage=#{sermonPage},
		sermonPoint=#{sermonPoint},
		sermonFile=#{sermonFile},
		sermonDate=#{sermonDate},
		sermonBibleType=#{sermonBibleType}
		WHERE
		sermonboardCnt = #{sermonCnt}
	</update>

	<!-- 주일설교 데이터 삭제 -->
	<delete id="sermondelete"
		parameterType="com.project.vo.SermonVO">
		DELETE FROM sermonboard WHERE sermonboardCnt =
		#{sermonCnt}
	</delete>

	<!-- 다운로드 받은 파일의 포인트만큼 회원의 포인트 감소 -->
	<update id="sermonUserPoint" parameterType="HashMap">
	   <![CDATA[
	    	UPDATE member SET point = point - #{point}
	    	WHERE duplicateid = #{duplicateid}
	   ]]>
	</update>
	
	<!-- 강해설교 리스트 출력 및 검색기능 -->
	<select id="ganghaesermonlist" resultType="com.project.vo.SermonVO" parameterType="com.project.vo.SearchVO">
		SELECT * FROM ganghaesermonboard
		WHERE sermonboardCnt IS NOT NULL
		<if test="search_title_kind == 'subject'">
			AND sermonSubject like CONCAT('%',#{sermonSearchParam},'%')
		</if>
		<if test="search_title_kind == 'title'">
			AND sermonTitle like CONCAT('%', #{sermonSearchParam} ,'%')
		</if>
		<if test="search_title_kind == 'main'">
			AND sermonMain like CONCAT('%', #{sermonSearchParam} ,'%')
		</if>
		<if test="search_bible_kind == 'all'">
			AND sermonBibleType IS NOT NULL 
		</if>
		<if test="search_bible_kind == 'past'">
			AND sermonBibleType = '구약' 
		</if>
		<if test="search_bible_kind == 'new'">
			AND sermonBibleType = '신약'
		</if>
	</select>
	
	<!-- 강해설교 데이터 저장 -->
	<insert id="ganghaesermoninsert" parameterType="com.project.vo.SermonVO">
		INSERT INTO
		ganghaesermonboard(sermonSubject,sermonTitle,sermonMain,sermonPage,sermonPoint,sermonFile,sermonDate,sermonBibleType)
		VALUES(#{sermonSubject},#{sermonTitle},#{sermonMain},#{sermonPage},#{sermonPoint},#{sermonFile},#{sermonDate},#{sermonBibleType})
	</insert>
	
	<!-- 강해설교 데이터 수정 -->
	<update id="ganghaesermonupdate" parameterType="com.project.vo.SermonVO">
		UPDATE ganghaesermonboard SET
		sermonSubject = #{sermonSubject},
		sermonTitle = #{sermonTitle},
		sermonMain = #{sermonMain},
		sermonPage=#{sermonPage},
		sermonPoint=#{sermonPoint},
		sermonFile=#{sermonFile},
		sermonDate=#{sermonDate},
		sermonBibleType=#{sermonBibleType}
		WHERE
		sermonboardCnt = #{sermonCnt}
	</update>
	
	<!-- 강해설교 데이터 삭제 -->
	<delete id="ganghaesermondelete" parameterType="com.project.vo.SermonVO">
		DELETE FROM ganghaesermonboard WHERE sermonboardCnt = #{sermonCnt}
	</delete>
	
	<!-- 인물설교 리스트 출력 및 검색기능 -->
	<select id="personsermonlist" resultType="com.project.vo.SermonVO" parameterType="com.project.vo.SearchVO">
		SELECT * FROM personsermonboard
		WHERE sermonboardCnt IS NOT NULL
		<if test="search_title_kind == 'subject'">
			AND sermonSubject like CONCAT('%',
			#{sermonSearchParam},'%')
		</if>
		<if test="search_title_kind == 'title'">
			AND sermonTitle like CONCAT('%', #{sermonSearchParam} ,
			'%')
		</if>
		<if test="search_title_kind == 'main'">
			AND sermonMain like CONCAT('%', #{sermonSearchParam} ,'%')
		</if>
	</select>

	<!-- 인물설교 데이터 저장 -->
	<insert id="personsermoninsert" parameterType="com.project.vo.SermonVO">
		INSERT INTO
		personsermonboard(sermonSubject,sermonTitle,sermonMain,sermonPage,sermonPoint,sermonFile,sermonDate,sermonBibleType)
		VALUES(#{sermonSubject},#{sermonTitle},#{sermonMain},#{sermonPage},#{sermonPoint},#{sermonFile},#{sermonDate},#{sermonBibleType})
	</insert>

	<!-- 인물설교 데이터 수정 -->
	<update id="personsermonupdate" parameterType="com.project.vo.SermonVO">
		UPDATE personsermonboard SET
		sermonSubject = #{sermonSubject},
		sermonTitle = #{sermonTitle},
		sermonMain = #{sermonMain},
		sermonPage=#{sermonPage},
		sermonPoint=#{sermonPoint},
		sermonFile=#{sermonFile},
		sermonDate=#{sermonDate},
		sermonBibleType=#{sermonBibleType}
		WHERE
		sermonboardCnt = #{sermonCnt}
	</update>

	<!-- 인물설교 데이터 삭제 -->
	<delete id="personsermondelete" parameterType="com.project.vo.SermonVO">
		DELETE FROM personsermonboard WHERE sermonboardCnt =
		#{sermonCnt}
	</delete>
	
	<!-- 철야설교 리스트 출력 및 검색기능 -->
	<select id="chulyasermonlist" resultType="com.project.vo.SermonVO" parameterType="com.project.vo.SearchVO">
		SELECT * FROM chulyasermonboard
		WHERE sermonboardCnt IS NOT NULL
		<if test="search_title_kind == 'subject'">
			AND sermonSubject like CONCAT('%',
			#{sermonSearchParam},'%')
		</if>
		<if test="search_title_kind == 'title'">
			AND sermonTitle like CONCAT('%', #{sermonSearchParam} ,
			'%')
		</if>
		<if test="search_title_kind == 'main'">
			AND sermonMain like CONCAT('%', #{sermonSearchParam} ,'%')
		</if>
	</select>

	<!-- 철야설교 데이터 저장 -->
	<insert id="chulyasermoninsert" parameterType="com.project.vo.SermonVO">
		INSERT INTO
		chulyasermonboard(sermonSubject,sermonTitle,sermonMain,sermonPage,sermonPoint,sermonFile,sermonDate,sermonBibleType)
		VALUES(#{sermonSubject},#{sermonTitle},#{sermonMain},#{sermonPage},#{sermonPoint},#{sermonFile},#{sermonDate},#{sermonBibleType})
	</insert>

	<!-- 철야설교 데이터 수정 -->
	<update id="chulyasermonupdate" parameterType="com.project.vo.SermonVO">
		UPDATE chulyasermonboard SET
		sermonSubject = #{sermonSubject},
		sermonTitle = #{sermonTitle},
		sermonMain = #{sermonMain},
		sermonPage=#{sermonPage},
		sermonPoint=#{sermonPoint},
		sermonFile=#{sermonFile},
		sermonDate=#{sermonDate},
		sermonBibleType=#{sermonBibleType}
		WHERE
		sermonboardCnt = #{sermonCnt}
	</update>

	<!-- 철야설교 데이터 삭제 -->
	<delete id="chulyasermondelete" parameterType="com.project.vo.SermonVO">
		DELETE FROM chulyasermonboard WHERE sermonboardCnt =
		#{sermonCnt}
	</delete>
	
	<!-- 심방설교 리스트 출력 및 검색기능 -->
	<select id="simbangsermonlist" resultType="com.project.vo.SermonVO" parameterType="com.project.vo.SearchVO">
		SELECT * FROM simbangsermonboard
		WHERE sermonboardCnt IS NOT NULL
		<if test="search_title_kind == 'subject'">
			AND sermonSubject like CONCAT('%',
			#{sermonSearchParam},'%')
		</if>
		<if test="search_title_kind == 'title'">
			AND sermonTitle like CONCAT('%', #{sermonSearchParam} ,
			'%')
		</if>
		<if test="search_title_kind == 'main'">
			AND sermonMain like CONCAT('%', #{sermonSearchParam} ,'%')
		</if>
	</select>

	<!-- 심방설교 데이터 저장 -->
	<insert id="simbangsermoninsert" parameterType="com.project.vo.SermonVO">
		INSERT INTO
		simbangsermonboard(sermonSubject,sermonTitle,sermonMain,sermonPage,sermonPoint,sermonFile,sermonDate,sermonBibleType)
		VALUES(#{sermonSubject},#{sermonTitle},#{sermonMain},#{sermonPage},#{sermonPoint},#{sermonFile},#{sermonDate},#{sermonBibleType})
	</insert>

	<!-- 심방설교 데이터 수정 -->
	<update id="simbangsermonupdate" parameterType="com.project.vo.SermonVO">
		UPDATE simbangsermonboard SET
		sermonSubject = #{sermonSubject},
		sermonTitle = #{sermonTitle},
		sermonMain = #{sermonMain},
		sermonPage=#{sermonPage},
		sermonPoint=#{sermonPoint},
		sermonFile=#{sermonFile},
		sermonDate=#{sermonDate},
		sermonBibleType=#{sermonBibleType}
		WHERE
		sermonboardCnt = #{sermonCnt}
	</update>

	<!-- 심방설교 데이터 삭제 -->
	<delete id="simbangsermondelete" parameterType="com.project.vo.SermonVO">
		DELETE FROM simbangsermonboard WHERE sermonboardCnt =
		#{sermonCnt}
	</delete>
	
	<!-- 헌신설교 리스트 출력 및 검색기능 -->
	<select id="hunshinsermonlist" resultType="com.project.vo.SermonVO" parameterType="com.project.vo.SearchVO">
		SELECT * FROM hunshinsermonboard
		WHERE sermonboardCnt IS NOT NULL
		<if test="search_title_kind == 'subject'">
			AND sermonSubject like CONCAT('%',
			#{sermonSearchParam},'%')
		</if>
		<if test="search_title_kind == 'title'">
			AND sermonTitle like CONCAT('%', #{sermonSearchParam} ,
			'%')
		</if>
		<if test="search_title_kind == 'main'">
			AND sermonMain like CONCAT('%', #{sermonSearchParam} ,'%')
		</if>
	</select>

	<!-- 헌신설교 데이터 저장 -->
	<insert id="hunshinsermoninsert" parameterType="com.project.vo.SermonVO">
		INSERT INTO
		hunshinsermonboard(sermonSubject,sermonTitle,sermonMain,sermonPage,sermonPoint,sermonFile,sermonDate,sermonBibleType)
		VALUES(#{sermonSubject},#{sermonTitle},#{sermonMain},#{sermonPage},#{sermonPoint},#{sermonFile},#{sermonDate},#{sermonBibleType})
	</insert>

	<!-- 헌신설교 데이터 수정 -->
	<update id="hunshinsermonupdate" parameterType="com.project.vo.SermonVO">
		UPDATE hunshinsermonboard SET
		sermonSubject = #{sermonSubject},
		sermonTitle = #{sermonTitle},
		sermonMain = #{sermonMain},
		sermonPage=#{sermonPage},
		sermonPoint=#{sermonPoint},
		sermonFile=#{sermonFile},
		sermonDate=#{sermonDate},
		sermonBibleType=#{sermonBibleType}
		WHERE
		sermonboardCnt = #{sermonCnt}
	</update>

	<!-- 헌신설교 데이터 삭제 -->
	<delete id="hunshinsermondelete" parameterType="com.project.vo.SermonVO">
		DELETE FROM hunshinsermonboard WHERE sermonboardCnt =
		#{sermonCnt}
	</delete>
	
	<!-- 특별설교 리스트 출력 및 검색기능 -->
	<select id="specialsermonlist" resultType="com.project.vo.SermonVO" parameterType="com.project.vo.SearchVO">
		SELECT * FROM specialsermonboard
		WHERE sermonboardCnt IS NOT NULL
		<if test="search_title_kind == 'subject'">
			AND sermonSubject like CONCAT('%',
			#{sermonSearchParam},'%')
		</if>
		<if test="search_title_kind == 'title'">
			AND sermonTitle like CONCAT('%', #{sermonSearchParam} ,
			'%')
		</if>
		<if test="search_title_kind == 'main'">
			AND sermonMain like CONCAT('%', #{sermonSearchParam} ,'%')
		</if>
	</select>

	<!-- 특별설교 데이터 저장 -->
	<insert id="specialsermoninsert" parameterType="com.project.vo.SermonVO">
		INSERT INTO
		specialsermonboard(sermonSubject,sermonTitle,sermonMain,sermonPage,sermonPoint,sermonFile,sermonDate,sermonBibleType)
		VALUES(#{sermonSubject},#{sermonTitle},#{sermonMain},#{sermonPage},#{sermonPoint},#{sermonFile},#{sermonDate},#{sermonBibleType})
	</insert>

	<!-- 특별설교 데이터 수정 -->
	<update id="specialsermonupdate" parameterType="com.project.vo.SermonVO">
		UPDATE specialsermonboard SET
		sermonSubject = #{sermonSubject},
		sermonTitle = #{sermonTitle},
		sermonMain = #{sermonMain},
		sermonPage=#{sermonPage},
		sermonPoint=#{sermonPoint},
		sermonFile=#{sermonFile},
		sermonDate=#{sermonDate},
		sermonBibleType=#{sermonBibleType}
		WHERE
		sermonboardCnt = #{sermonCnt}
	</update>

	<!-- 특별설교 데이터 삭제 -->
	<delete id="specialsermondelete" parameterType="com.project.vo.SermonVO">
		DELETE FROM specialsermonboard WHERE sermonboardCnt = #{sermonCnt}
	</delete>
	
	<!-- 컬럼형예화 설교 리스트 출력 및 검색기능 -->
	<select id="columnsermonlist" resultType="com.project.vo.SermonVO" parameterType="com.project.vo.SearchVO">
		SELECT * FROM columnsermonboard
		WHERE sermonboardCnt IS NOT NULL
		<if test="search_title_kind == 'subject'">
			AND sermonSubject like CONCAT('%',
			#{sermonSearchParam},'%')
		</if>
		<if test="search_title_kind == 'title'">
			AND sermonTitle like CONCAT('%', #{sermonSearchParam} ,
			'%')
		</if>
		<if test="search_title_kind == 'main'">
			AND sermonMain like CONCAT('%', #{sermonSearchParam} ,'%')
		</if>
	</select>

	<!-- 컬럼형예화 설교 데이터 저장 -->
	<insert id="columnsermoninsert" parameterType="com.project.vo.SermonVO">
		INSERT INTO
		columnsermonboard(sermonSubject,sermonTitle,sermonMain,sermonPage,sermonPoint,sermonFile,sermonDate,sermonBibleType)
		VALUES(#{sermonSubject},#{sermonTitle},#{sermonMain},#{sermonPage},#{sermonPoint},#{sermonFile},#{sermonDate},#{sermonBibleType})
	</insert>

	<!-- 컬럼형예화 설교 데이터 수정 -->
	<update id="columnsermonupdate" parameterType="com.project.vo.SermonVO">
		UPDATE columnsermonboard SET
		sermonSubject = #{sermonSubject},
		sermonTitle = #{sermonTitle},
		sermonMain = #{sermonMain},
		sermonPage=#{sermonPage},
		sermonPoint=#{sermonPoint},
		sermonFile=#{sermonFile},
		sermonDate=#{sermonDate},
		sermonBibleType=#{sermonBibleType}
		WHERE
		sermonboardCnt = #{sermonCnt}
	</update>

	<!-- 컬럼형예화 설교 데이터 삭제 -->
	<delete id="columnsermondelete" parameterType="com.project.vo.SermonVO">
		DELETE FROM columnsermonboard WHERE sermonboardCnt = #{sermonCnt}
	</delete>
	
	<!-- 새벽 강해별 설교 리스트 출력 및 검색기능 -->
	<select id="ganghaebyolsermonlist" resultType="com.project.vo.SermonVO" parameterType="com.project.vo.SearchVO">
		SELECT * FROM ganghaebyolsermonboard
		WHERE sermonboardCnt IS NOT NULL
		<if test="search_title_kind == 'subject'">
			AND sermonSubject like CONCAT('%',#{sermonSearchParam},'%')
		</if>
		<if test="search_title_kind == 'title'">
			AND sermonTitle like CONCAT('%', #{sermonSearchParam} ,'%')
		</if>
		<if test="search_title_kind == 'main'">
			AND sermonMain like CONCAT('%', #{sermonSearchParam} ,'%')
		</if>
		<if test="search_bible_kind == 'all'">
			AND sermonBibleType IS NOT NULL 
		</if>
		<if test="search_bible_kind == 'past'">
			AND sermonBibleType = '구약' 
		</if>
		<if test="search_bible_kind == 'new'">
			AND sermonBibleType = '신약'
		</if>
	</select>
	
	<!-- 새벽 강해별 설교 데이터 저장 -->
	<insert id="ganghaebyolsermoninsert" parameterType="com.project.vo.SermonVO">
		INSERT INTO
		ganghaebyolsermonboard(sermonSubject,sermonTitle,sermonMain,sermonPage,sermonPoint,sermonFile,sermonDate,sermonBibleType)
		VALUES(#{sermonSubject},#{sermonTitle},#{sermonMain},#{sermonPage},#{sermonPoint},#{sermonFile},#{sermonDate},#{sermonBibleType})
	</insert>

	<!-- 새벽 강해별 설교 데이터 수정 -->
	<update id="ganghaebyolsermonupdate" parameterType="com.project.vo.SermonVO">
		UPDATE ganghaebyolsermonboard SET
		sermonSubject = #{sermonSubject},
		sermonTitle = #{sermonTitle},
		sermonMain = #{sermonMain},
		sermonPage=#{sermonPage},
		sermonPoint=#{sermonPoint},
		sermonFile=#{sermonFile},
		sermonDate=#{sermonDate},
		sermonBibleType=#{sermonBibleType}
		WHERE
		sermonboardCnt = #{sermonCnt}
	</update>

	<!-- 새벽 강해별 설교 설교 데이터 삭제 -->
	<delete id="ganghaebyolsermondelete" parameterType="com.project.vo.SermonVO">
		DELETE FROM ganghaebyolsermonboard WHERE sermonboardCnt = #{sermonCnt}
	</delete>
	
	<!-- 새벽 사건별 설교 리스트 출력 및 검색기능 -->
	<select id="sagunbyolsermonlist" resultType="com.project.vo.SermonVO" parameterType="com.project.vo.SearchVO">
		SELECT * FROM sagunbyolsermonboard
		WHERE sermonboardCnt IS NOT NULL
		<if test="search_title_kind == 'subject'">
			AND sermonSubject like CONCAT('%',
			#{sermonSearchParam},'%')
		</if>
		<if test="search_title_kind == 'title'">
			AND sermonTitle like CONCAT('%', #{sermonSearchParam} ,
			'%')
		</if>
		<if test="search_title_kind == 'main'">
			AND sermonMain like CONCAT('%', #{sermonSearchParam} ,'%')
		</if>
	</select>

	<!-- 새벽 사건별 설교 데이터 저장 -->
	<insert id="sagunbyolsermoninsert" parameterType="com.project.vo.SermonVO">
		INSERT INTO
		sagunbyolsermonboard(sermonSubject,sermonTitle,sermonMain,sermonPage,sermonPoint,sermonFile,sermonDate,sermonBibleType)
		VALUES(#{sermonSubject},#{sermonTitle},#{sermonMain},#{sermonPage},#{sermonPoint},#{sermonFile},#{sermonDate},#{sermonBibleType})
	</insert>

	<!-- 새벽 사건별 설교 데이터 수정 -->
	<update id="sagunbyolsermonupdate" parameterType="com.project.vo.SermonVO">
		UPDATE sagunbyolsermonboard SET
		sermonSubject = #{sermonSubject},
		sermonTitle = #{sermonTitle},
		sermonMain = #{sermonMain},
		sermonPage=#{sermonPage},
		sermonPoint=#{sermonPoint},
		sermonFile=#{sermonFile},
		sermonDate=#{sermonDate},
		sermonBibleType=#{sermonBibleType}
		WHERE
		sermonboardCnt = #{sermonCnt}
	</update>

	<!-- 새벽 사건별 설교 데이터 삭제 -->
	<delete id="sagunbyolsermondelete" parameterType="com.project.vo.SermonVO">
		DELETE FROM sagunbyolsermonboard WHERE sermonboardCnt = #{sermonCnt}
	</delete>
	
	<!-- 새벽 주제별 설교 리스트 출력 및 검색기능 -->
	<select id="jujebyolsermonlist" resultType="com.project.vo.SermonVO" parameterType="com.project.vo.SearchVO">
		SELECT * FROM jujebyolsermonboard
		WHERE sermonboardCnt IS NOT NULL
		<if test="search_title_kind == 'subject'">
			AND sermonSubject like CONCAT('%',
			#{sermonSearchParam},'%')
		</if>
		<if test="search_title_kind == 'title'">
			AND sermonTitle like CONCAT('%', #{sermonSearchParam} ,
			'%')
		</if>
		<if test="search_title_kind == 'main'">
			AND sermonMain like CONCAT('%', #{sermonSearchParam} ,'%')
		</if>
	</select>

	<!-- 새벽 주제별 설교 데이터 저장 -->
	<insert id="jujebyolsermoninsert" parameterType="com.project.vo.SermonVO">
		INSERT INTO
		jujebyolsermonboard(sermonSubject,sermonTitle,sermonMain,sermonPage,sermonPoint,sermonFile,sermonDate,sermonBibleType)
		VALUES(#{sermonSubject},#{sermonTitle},#{sermonMain},#{sermonPage},#{sermonPoint},#{sermonFile},#{sermonDate},#{sermonBibleType})
	</insert>

	<!-- 새벽 주제별 설교 데이터 수정 -->
	<update id="jujebyolsermonupdate" parameterType="com.project.vo.SermonVO">
		UPDATE jujebyolsermonboard SET
		sermonSubject = #{sermonSubject},
		sermonTitle = #{sermonTitle},
		sermonMain = #{sermonMain},
		sermonPage=#{sermonPage},
		sermonPoint=#{sermonPoint},
		sermonFile=#{sermonFile},
		sermonDate=#{sermonDate},
		sermonBibleType=#{sermonBibleType}
		WHERE
		sermonboardCnt = #{sermonCnt}
	</update>

	<!-- 새벽 주제별 설교 데이터 삭제 -->
	<delete id="jujebyolsermondelete" parameterType="com.project.vo.SermonVO">
		DELETE FROM jujebyolsermonboard WHERE sermonboardCnt = #{sermonCnt}
	</delete>
</mapper>