<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.sermonMapper">

	<!-- <resultMap type="com.project.vo.SermonVO" id="sermonvo"> <result property="sermonSubject" 
		column="sermonSubject" /> <result property="sermonTitle" column="sermonTitle" 
		/> <result property="sermonMain" column="sermonMain" /> <result property="sermonPage" 
		column="sermonPage" /> <result property="sermonPoint" column="sermonPoint" 
		/> <result property="sermonFile" column="sermonFile" /> </resultMap> -->

	<resultMap type="com.project.vo.SearchVO" id="sermonSearch">
		<result property="sermonSearchParam" column="sermonSubject" />
		<result property="sermonSearchParam" column="sermonTitle" />
		<result property="sermonSearchParam" column="sermonMain" />
		<result property="search_title_kind" column="sermonSubject" />
		<result property="search_title_kind" column="sermonTitle" />
		<result property="search_title_kind" column="sermonMain" />
	</resultMap>

	<!-- 주일설교 리스트 출력 -->
	<select id="sermonlist" resultType="com.project.vo.SermonVO"
		parameterType="com.project.vo.SearchVO">
		SELECT * FROM sermonboard
		WHERE sermonboardCnt IS NOT NULL
		<if test="search_title_kind == 'subject'">
			AND sermonSubject like CONCAT('%', #{sermonSearchParam}
			,'%')
		</if>
		<if test="search_title_kind == 'title'">
			AND sermonTitle like CONCAT('%', #{sermonSearchParam} ,
			'%')
		</if>
		<if test="search_title_kind == 'main'">
			AND sermonMain like CONCAT('%', #{sermonSearchParam} ,'%')
		</if>
	</select>

	<!-- 주일설교 데이터 저장 -->
	<insert id="sermoninsert" parameterType="hashmap">
		INSERT INTO
		sermonboard(sermonSubject,sermonTitle,sermonMain,sermonPage,sermonPoint,sermonFile,sermonDate)
		VALUES(#{sermonSubject},#{sermonTitle},#{sermonMain},#{sermonPage},#{sermonPoint},#{sermonFileName},#{sermonDate})
	</insert>

	<!-- 주일설교 데이터 수정 -->
	<update id="sermonupdate"
		parameterType="com.project.vo.SermonVO">
		UPDATE sermonboard SET
		sermonSubject = #{sermonSubject},
		sermonTitle = #{sermonTitle},
		sermonMain =
		#{sermonMain},
		sermonPage=#{sermonPage},
		sermonPoint=#{sermonPoint},
		sermonFile=#{sermonFileName},
		sermonDate=#{sermonDate}
		WHERE
		sermonboardCnt = #{sermonCnt}
	</update>

	<!-- 주일설교 데이터 삭제 -->
	<delete id="sermondelete" parameterType="com.project.vo.SermonVO">
		DELETE FROM sermonboard WHERE sermonboardCnt = #{sermonCnt}
	</delete>

</mapper>